{% extends 'AppBundle:Mail:layout.html.twig' %}

{% block title %}
    
    <h1>Limite atteinte !</h1>
   
{% endblock title %}

{% block content %}
    
    <p>
        <strong>{{ limit.name|capitalize }}</strong> 
        {% if limit.equal == 'greater' %}a dépassé {% else %} est descendu sous {% endif %}
        la limite de {{ limit.value }} ...
        <br>Le cours est actuellement à {{ data[limit.param] }} sur le {{ limit.param }} !        
    </p>


{% endblock content %}