{% extends 'AppBundle:Mail:layout.html.twig' %}

{% block title %}
    
    <h1>Limite atteinte !</h1>
   
{% endblock title %}

{% block content %}
    
    <p>
        <strong>{{ limit.name|capitalize }}</strong> a atteint {{ limit.value }} sur son {{ limit.param }} !!!
    </p>


{% endblock content %}